.projects{
  background:  url('../../../assets/image/projects/project-bg.jpg');
  background-size: cover;
  background-position: center center;
  h2{
    position: relative;
    font-size: 40px;
    &::after{
      content: "";
      position: absolute;
      top: 60%;
      left: 0;
      width: 35%;
      height: 2px;
      background-color: #00000029;
    }
    &::before{
      content: "";
      position: absolute;
      top: 60%;
      right: 0;
      width: 35%;
      height: 2px;
      background-color: #00000029;
    }
  }
 .box-slide{
    transition: all .3s;
    height: 400px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s;
    }
    .project-title{
      background-color: #00495fbd;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      font-size: 20px;
    }

    .details{
      position: absolute;
      top: 10px;
      left: -50%;
      transition: all .3s;
      background-color: #00495fb6;
      color: #fff;
      transform: rotate(90deg);
      i{
        transition: all .3s;
      }
      &:hover{
        background-color: #00495f;
        i{
          transform: translateX(2px) translateY(-2px);
        }
      }
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
      .details{
        transform: rotate(0);
        left: 10px
      }
    }
  }
}

@media (max-width:567px) {
 h2{
    font-size: 30px !important;
    &::after{
      display: none;
    }
    &::before{
      display: none;
    }
  }
}
