<app-navbar></app-navbar>

<section class="book-now my-4">
  <div class="container">
    <div class="row g-3">
      <div class="col-md-6">
         <div class="card shadow-lg border-0 p-3 h-100">
          <h3 class="mb-0 animate__animated animate__fadeInUp">إحــجــز الأن</h3>
          <div class="card-body p-3">
            <form class="row g-3" [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
              <div class="col-12 animate__animated animate__fadeInUp animate__delay-0.2s">
                <label class="form-label" for="fullName">الأســم</label>
                <input formControlName="fullName" [ngClass]="{'is-invalid': contactForm.get('fullName')?.invalid && contactForm.get('fullName')?.touched}" class="form-control" type="text" id="fullName" name="fullName" placeholder="الأســم...">
                @if(contactForm.get('fullName')?.invalid && contactForm.get('fullName')?.touched){
                  <div class="invalid-feedback">
                    من فضلك أدخل الاسم
                  </div>
                }
              </div>

              <div class="col-12 animate__animated animate__fadeInUp animate__delay-0.4s">
                <label class="form-label" for="phoneNumber">رقم التليفون</label>
                <input [ngClass]="{'is-invalid': contactForm.get('phoneNumber')?.invalid && contactForm.get('phoneNumber')?.touched}" formControlName="phoneNumber" class="form-control" type="tel" id="phoneNumber" name="phoneNumber" placeholder="رقم التليفون...">
                @if(contactForm.get('phoneNumber')?.invalid && contactForm.get('phoneNumber')?.touched){
                  <div class="invalid-feedback">
                    من فضلك أدخل تليفون صحيح
                  </div>
                }
              </div>

              <div class="col-12 animate__animated animate__fadeInUp animate__delay-0.6s">
                <label class="form-label" for="location">العنــوان</label>
                <input [ngClass]="{'is-invalid': contactForm.get('location')?.invalid && contactForm.get('location')?.touched}"  formControlName="location" class="form-control" type="text" id="location" name="location" placeholder="العنــوان...">
                @if(contactForm.get('location')?.invalid && contactForm.get('location')?.touched){
                  <div class="invalid-feedback">
                    من فضلك أدخل العنوان
                  </div>
                }
              </div>

              <div class="col-12 animate__animated animate__fadeInUp animate__delay-0.6s">
                <label class="form-label" for="message">رســالتك</label>
                <textarea [ngClass]="{'is-invalid': contactForm.get('message')?.invalid && contactForm.get('message')?.touched}" formControlName="message" class="form-control" id="message" name="message" placeholder="اترك رســــألتك..."></textarea>
                @if(contactForm.get('message')?.invalid && contactForm.get('message')?.touched){
                  <div class="invalid-feedback">
                    من فضلك أدخل رســالتك
                  </div>
                }
              </div>

              <div class="col-12 animate__animated animate__fadeInUp animate__delay-0.8s">
                <button class="btn btn-book w-100 text-white fw-medium d-flex justify-content-center align-items-center gap-2">
                  <span>احـجـــز الأن</span>
                  <i class="fa-solid fa-address-book fs-5"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card p-3">
          <div class="main-image">
          <h2 class="animate__animated animate__bounceInRight animate__slow z-2">{{projectData.title}}</h2>
          <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
            thumbs-swiper=".mySwiper2" autoplay-delay="2500" space-between="10" navigation="false">
            @for (image of projectData.projectDetails; track $index) {
              <swiper-slide>
                <img class="main-image" [src]="image.picture" [alt]="image.title" />
              </swiper-slide>
            }
          </swiper-container>

          <swiper-container class="mySwiper2" space-between="10" slides-per-view="4" free-mode="true"
            watch-slides-progress="true">
            @for (image of projectData.projectDetails; track $index) {
              <swiper-slide>
                <img class="main-image" [src]="image.picture" [alt]="image.title" />
              </swiper-slide>
            }
          </swiper-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
