<section id="project-offer" class="projects py-3">
  <div class="container">
    <h2 class="text-center wow fadeInDown">أعمالنا السابقة</h2>
    <swiper-container dir="ltr" class="mySwiper py-3"
      [breakpoints]="swiperConfig.breakpoints"
      space-between="20"
      autoplay-delay="2500" autoplay-disable-on-interaction="false"
      autoplay-pause-on-mouse-enter="true"
      centered-slides="false">
      @for (project of allProject; track $index) {
        <swiper-slide class="wow bounceInUp" data-wow-delay="0s">
          <div class="box-slide position-relative overflow-hidden rounded-3" >
            <img loading="lazy" [src]="project.images[0].image" class="w-100 rounded-3" alt="sumou">
            <div class="slide-info p-3 rounded-top-3 text-white d-flex flex-column gap-2">
              <button class="btn details rounded-circle" [routerLink]="['/previour-investment/' + project.id]"> <i class="fa-solid fa-arrow-trend-up"></i> المزيد</button>
            </div>
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</section>
