nav{
  .navbar-toggler{
    width: 60px;
    height: 40px;
    border: 0;
    &:focus {
      box-shadow: none;
    }
    .rotate {
      display: inline-block;
      transition: transform 0.4s ease;
    }
    span{
      &.navbar-toggler-icon.rotate {
        transform: rotate(0deg);
      }
      &.fa-xmark.rotate {
        transform: rotate(180deg);
      }
    }
  }
  .mobile-image{
    width: 30px;
    transform: rotate(20deg);
  }
  .logo{
    width: 150px;
  }
  .navbar-nav{
    .nav-link{
      color: #000;
      position: relative;
      font-weight: 700;
      font-size: 14px;
      padding: 0;
      &::before{
        content:'';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #0EAD93;
        transition: all .3s;
      }
      &.active,&:hover{
        color: #0EAD93;
      }
      &.active::before,&:hover::before{
        width: 70%;
      }
    }
  }
}

@media (max-width:567px) {
  .navbar-nav{
    .nav-link{
      text-align: left;
      margin-bottom: 10px;
      &.active::before,&:hover::before{
        width: 20% !important;
      }
    }
  }
}
