<section id="contracting" class="contracting py-5">
  <div class="container">
    <div class="row g-4 align-items-center">
       <div class="col-xl-4">
        <div class="contractiong-image h-100 d-flex justify-content-center align-items-center wow fadeIn">
          <swiper-container class="mySwiper" loop="true" autoplay-delay="2500" autoplay-disable-on-interaction="false" autoplay-pause-on-mouse-enter="true">
            <swiper-slide>
              <img src="../../../assets/image/contracting/Screenshot_2025-08-14_105311-removebg-preview.png" alt="">
            </swiper-slide>
            <swiper-slide>
              <img src="../../../assets/image/contracting/medium-shot-architect-holding-schematics-removebg-preview.png" alt="">
            </swiper-slide>
            <swiper-slide>
              <img src="../../../assets/image/contracting/worker-with-hard-hat-level-checking-roof-timber-removebg-preview.png" alt="">
            </swiper-slide>
            <swiper-slide>
              <img src="../../../assets/image/contracting/Screenshot_2025-08-14_105311-removebg-preview.png" alt="">
            </swiper-slide>
          </swiper-container>
        </div>
        <!-- <div class="contractiong-image d-flex justify-content-center align-items-center wow fadeIn">
          @for (contracting of allContracting; track $index) {
            <img loading="lazy" class="wow fadeInLeft" [src]="contracting.fileUrl" alt="contracting">
          }
        </div> -->
      </div>
      <div class="col-xl-8 wow fadeIn">
        <div class="contracting-info text-white p-4 pt-3 rounded-5 d-flex flex-column gap-2">
          <h4 class="mb-0 wow fadeInDown">مــقــــاولك الـخـــــاص</h4>
          <h5 class="wow fadeInDown">حلقة الوصل بينك وبين أمهر المقاولين لإنجاز مشروعك بثقة وجودة.</h5>
          @for (contracing of allContracting; track $index) {
            <p class="wow fadeInUp">{{contracing?.description}}</p>
          }
          <ul class="list-unstyled p-0 d-flex align-items-center gap-3">
            <li>
              <a [href]="'https://wa.me/' + allContacts?.whatsApp">
                <i class="fa-brands fa-whatsapp"></i> أطلب الخدمة
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
