<section id="home" class="home position-relative">
  <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
    thumbs-swiper=".mySwiper2"  navigation="true">
      <swiper-slide>
        <div class="position-relative">
           <img src="assets/image/home/home-silder-1.jpeg" />
            <p class="info-silde pt-3 pb-5 m-0 position-absolute">تم بل أوسع انتباه الشرقية. بل يكن بخطوط التقليدية, أم العاصمة الأوروبين ومن . ومن غينيا ألمانيا. من بالرغم سنغغافورة يبق.</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="position-relative">
           <img src="assets/image/home/home-silder-1.jpeg" />
            <p class="info-silde pt-3 pb-5 m-0 position-absolute">تم بل أوسع انتباه الشرقية. بل يكن بخطوط التقليدية, أم العاصمة الأوروبين ومن . ومن غينيا ألمانيا. من بالرغم سنغغافورة يبق.</p>
        </div>
      </swiper-slide>
       <swiper-slide>
        <div class="position-relative">
           <img src="assets/image/home/home-silder-1.jpeg" />
            <p class="info-silde pt-3 pb-5 m-0 position-absolute">تم بل أوسع انتباه الشرقية. بل يكن بخطوط التقليدية, أم العاصمة الأوروبين ومن . ومن غينيا ألمانيا. من بالرغم سنغغافورة يبق.</p>
        </div>
      </swiper-slide>
  </swiper-container>

  <swiper-container class="mySwiper2" space-between="0" slides-per-view="3" free-mode="true"
    watch-slides-progress="true">
    <swiper-slide>
      <img class="rounded-circle round-image" src="assets/image/home/home-silder-1.jpeg" />
    </swiper-slide>
    <swiper-slide>
      <img class="rounded-circle round-image" src="assets/image/home/home-silder-1.jpeg" />
    </swiper-slide>
    <swiper-slide>
      <img class="rounded-circle round-image" src="assets/image/home/home-silder-1.jpeg" />
    </swiper-slide>
  </swiper-container>
</section>
