.home{
  swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .mySwiper {
    height: 100%;
    width: 100%;
    swiper-slide {
    img {
      width: 100%;
      height: 100vh !important;
      object-fit: cover;
    }
    @media (max-width:567px) {
      img {
        height: 75vh !important;
      }
    }
  }
  }

  .mySwiper2 {
    height: 20%;
    width:30%;
    box-sizing: border-box;
    padding: 10px 0;
    swiper-slide {
      height: 100%;
      opacity: 0.4;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s;
      animation: rotate 3s linear infinite;
      margin-top: 10px;
      transform: translateY(-10px);
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-slide-thumb-active {
      opacity: 1;
      animation: none;
      transition: all .3s;
    }
  }

  .round-image{
    width: 80px !important;
    height: 80px !important;
    border: 2px solid greenyellow;
  }

  .info-silde{
    position: absolute;
    bottom: 0;
    right: 25%;
    width: 50%;
    padding: 10px;
    font-size: 20px;
    background-color: #000000a8;
    color: #fff;
    text-align: center;
  }
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media (max-width:1200px) {
  .mySwiper2 {
    width: 30% !important;
  }
}

@media (max-width:991px) {
  .mySwiper2 {
    width: 40% !important;
  }
  .info-silde{
    font-size: 18px !important;
  }
}

@media (max-width:768px) {
  .mySwiper2 {
    width: 50% !important;
  }
  .info-silde{
    width: 100% !important;
    right: 0% !important
  }
}

@media (max-width:567px) {
  .mySwiper2 {
    width: 100% !important;
  }
  .info-silde{
    font-size: 14px !important;
  }
}
