<section id="home" class="home position-relative">
  <swiper-container #mainSwiper autoplay-delay="2500" class="mySwiper animate__animated animate__backInDown"
    thumbs-swiper=".mySwiper2" >
    @for (header of allHeadersImage; track $index) {
      <swiper-slide>
        <div class="position-relative h-100">
          <div class="header-image">
            <!-- <img loading="lazy" [src]="header.picture" [alt]="header.title" /> -->
            <img loading="lazy" src="assets/image/we3.jpg" [alt]="header.title" />
          </div>
          <div class="header-title">
            <div class="titles">
              <h2 class="text-white">استثمار مضمون وبيت العمر في مشروع واحد</h2>
              <h5 class="text-white" [routerLink]="['/project-details/' + header.id]">{{header.title}}</h5>
            </div>
          </div>
        </div>
      </swiper-slide>
    }
  </swiper-container>

  <swiper-container class="mySwiper2" [breakpoints]="swiperConfig.breakpoints" autoplay-delay="2500" space-between="20" slides-per-view="5" free-mode="true" watch-slides-progress="true">
    @for (slideHeader of allHeadersImage; track $index) {
      <swiper-slide class="wow bounceInUp" data-wow-delay="0s">
        <img loading="lazy" class="rounded-circle round-image" [src]="slideHeader.picture" [alt]="slideHeader.title" />
      </swiper-slide>
    }
  </swiper-container>
</section>
