<section id="project" class="projects py-3">
  <div class="container">
    <h2 class="text-center wow fadeInDown">مشاريع التمليك</h2>
    <swiper-container [slides-per-view]="swiperConfig.slidesPerView"
    [space-between]="swiperConfig.spaceBetween"
    [breakpoints]="swiperConfig.breakpoints"
    [loop]="swiperConfig.loop" autoplay-delay="2500" autoplay-disable-on-interaction="false"
    centered-slides="true" class="mySwipe mt-5">
      <swiper-slide class="wow fadeInRight">
        <div class="box-slide position-relative overflow-hidden">
          <img src="assets/image/projects/home-silder-2.jpg" class="w-100" alt="">
          <div class="slide-info pt-4 px-3 pb-2 rounded-top-5 text-white d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>شقة تمليك العوالي </h4>
              <span>50000ريال</span>
            </div>
            <ul class="list-unstyled p-0 d-flex justify-content-between align-items-center">
              <li><i class="fa-solid fa-location-dot"></i> جدة أمام المطار</li>
              <li><i class="fa-solid fa-location-dot"></i> (5) غرف</li>
              <li><i class="fa-solid fa-location-dot"></i> 500 م<sup>2</sup></li>
            </ul>
            <div class="details">
              <p>أي أضف الدولة يتبق واتجة, تونس ومطالبة عرض عل. شئ قد ونتج لكون. وبدأت الثالث شمولية بل لا, تم لم جديدة تحرير. أرض واستمرت. وبريطانيا أن نفس</p>
              <ul class="list-unstyled p-0">
                <li><i class="fa-solid fa-envelope"></i> طلب خدمة</li>
                <li><i class="fa-brands fa-whatsapp"></i> اتصل واتس</li>
              </ul>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="wow fadeInDown">
        <div class="box-slide position-relative overflow-hidden">
          <img src="assets/image/projects/home-silder-2.jpg" class="w-100" alt="">
          <div class="slide-info pt-4 px-3 pb-2 rounded-top-5 text-white d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>شقة تمليك العوالي </h4>
              <span>50000ريال</span>
            </div>
            <ul class="list-unstyled p-0 d-flex justify-content-between align-items-center">
              <li><i class="fa-solid fa-location-dot"></i> جدة أمام المطار</li>
              <li><i class="fa-solid fa-location-dot"></i> (5) غرف</li>
              <li><i class="fa-solid fa-location-dot"></i> 500 م<sup>2</sup></li>
            </ul>
            <div class="details">
              <p>أي أضف الدولة يتبق واتجة, تونس ومطالبة عرض عل. شئ قد ونتج لكون. وبدأت الثالث شمولية بل لا, تم لم جديدة تحرير. أرض واستمرت. وبريطانيا أن نفس</p>
              <ul class="list-unstyled p-0">
                <li><i class="fa-solid fa-envelope"></i> طلب خدمة</li>
                <li><i class="fa-brands fa-whatsapp"></i> اتصل واتس</li>
              </ul>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="wow fadeInUp">
        <div class="box-slide position-relative overflow-hidden">
          <img src="assets/image/projects/home-silder-2.jpg" class="w-100" alt="">
          <div class="slide-info pt-4 px-3 pb-2 rounded-top-5 text-white d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>شقة تمليك العوالي </h4>
              <span>50000ريال</span>
            </div>
            <ul class="list-unstyled p-0 d-flex justify-content-between align-items-center">
              <li><i class="fa-solid fa-location-dot"></i> جدة أمام المطار</li>
              <li><i class="fa-solid fa-location-dot"></i> (5) غرف</li>
              <li><i class="fa-solid fa-location-dot"></i> 500 م<sup>2</sup></li>
            </ul>
            <div class="details">
              <p>أي أضف الدولة يتبق واتجة, تونس ومطالبة عرض عل. شئ قد ونتج لكون. وبدأت الثالث شمولية بل لا, تم لم جديدة تحرير. أرض واستمرت. وبريطانيا أن نفس</p>
              <ul class="list-unstyled p-0">
                <li><i class="fa-solid fa-envelope"></i> طلب خدمة</li>
                <li><i class="fa-brands fa-whatsapp"></i> اتصل واتس</li>
              </ul>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="wow fadeInLeft">
        <div class="box-slide position-relative overflow-hidden">
          <img src="assets/image/projects/home-silder-2.jpg" class="w-100" alt="">
          <div class="slide-info pt-4 px-3 pb-2 rounded-top-5 text-white d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>شقة تمليك العوالي </h4>
              <span>50000ريال</span>
            </div>
            <ul class="list-unstyled p-0 d-flex justify-content-between align-items-center">
              <li><i class="fa-solid fa-location-dot"></i> جدة أمام المطار</li>
              <li><i class="fa-solid fa-location-dot"></i> (5) غرف</li>
              <li><i class="fa-solid fa-location-dot"></i> 500 م<sup>2</sup></li>
            </ul>
            <div class="details">
              <p>أي أضف الدولة يتبق واتجة, تونس ومطالبة عرض عل. شئ قد ونتج لكون. وبدأت الثالث شمولية بل لا, تم لم جديدة تحرير. أرض واستمرت. وبريطانيا أن نفس</p>
              <ul class="list-unstyled p-0">
                <li><i class="fa-solid fa-envelope"></i> طلب خدمة</li>
                <li><i class="fa-brands fa-whatsapp"></i> اتصل واتس</li>
              </ul>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
    <!-- <div class="row g-3 mt-5">
      <div class="col-md-6 col-sm-12 col-lg-4">
        <div class="box-slide position-relative overflow-hidden">
          <img src="assets/image/projects/home-silder-2.jpg" class="w-100" alt="">
          <div class="slide-info pt-4 px-3 pb-2 rounded-top-5 text-white d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>شقة تمليك العوالي </h4>
              <span>50000ريال</span>
            </div>
            <ul class="list-unstyled p-0 d-flex justify-content-between align-items-center">
              <li><i class="fa-solid fa-location-dot"></i> جدة أمام المطار</li>
              <li><i class="fa-solid fa-location-dot"></i> (5) غرف</li>
              <li><i class="fa-solid fa-location-dot"></i> 500 م<sup>2</sup></li>
            </ul>
            <div class="details">
              <p>أي أضف الدولة يتبق واتجة, تونس ومطالبة عرض عل. شئ قد ونتج لكون. وبدأت الثالث شمولية بل لا, تم لم جديدة تحرير. أرض واستمرت. وبريطانيا أن نفس</p>
              <ul class="list-unstyled p-0">
                <li><i class="fa-solid fa-envelope"></i> طلب خدمة</li>
                <li><i class="fa-brands fa-whatsapp"></i> اتصل واتس</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-lg-4">
        <div class="box-slide position-relative overflow-hidden">
          <img src="assets/image/projects/home-silder-2.jpg" class="w-100" alt="">
          <div class="slide-info pt-4 px-3 pb-2 rounded-top-5 text-white d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>شقة تمليك العوالي </h4>
              <span>50000ريال</span>
            </div>
            <ul class="list-unstyled p-0 d-flex justify-content-between align-items-center">
              <li><i class="fa-solid fa-location-dot"></i> جدة أمام المطار</li>
              <li><i class="fa-solid fa-location-dot"></i> (5) غرف</li>
              <li><i class="fa-solid fa-location-dot"></i> 500 م<sup>2</sup></li>
            </ul>
            <div class="details">
              <p>أي أضف الدولة يتبق واتجة, تونس ومطالبة عرض عل. شئ قد ونتج لكون. وبدأت الثالث شمولية بل لا, تم لم جديدة تحرير. أرض واستمرت. وبريطانيا أن نفس</p>
              <ul class="list-unstyled p-0">
                <li><i class="fa-solid fa-envelope"></i> طلب خدمة</li>
                <li><i class="fa-brands fa-whatsapp"></i> اتصل واتس</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-lg-4">
        <div class="box-slide position-relative overflow-hidden">
          <img src="assets/image/projects/home-silder-2.jpg" class="w-100" alt="">
          <div class="slide-info pt-4 px-3 pb-2 rounded-top-5 text-white d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>شقة تمليك العوالي </h4>
              <span>50000ريال</span>
            </div>
            <ul class="list-unstyled p-0 d-flex justify-content-between align-items-center">
              <li><i class="fa-solid fa-location-dot"></i> جدة أمام المطار</li>
              <li><i class="fa-solid fa-location-dot"></i> (5) غرف</li>
              <li><i class="fa-solid fa-location-dot"></i> 500 م<sup>2</sup></li>
            </ul>
            <div class="details">
              <p>أي أضف الدولة يتبق واتجة, تونس ومطالبة عرض عل. شئ قد ونتج لكون. وبدأت الثالث شمولية بل لا, تم لم جديدة تحرير. أرض واستمرت. وبريطانيا أن نفس</p>
              <ul class="list-unstyled p-0">
                <li><i class="fa-solid fa-envelope"></i> طلب خدمة</li>
                <li><i class="fa-brands fa-whatsapp"></i> اتصل واتس</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
