.projects{
  background:  url('../../../assets/image/projects/project-bg.jpg');
  background-size: cover;
  background-position: center center;
  h2{
    position: relative;
    font-size: 40px;
    &::after{
      content: "";
      position: absolute;
      top: 60%;
      left: 0;
      width: 35%;
      height: 2px;
      background-color: #00000029;
    }
    &::before{
      content: "";
      position: absolute;
      top: 60%;
      right: 0;
      width: 35%;
      height: 2px;
      background-color: #00000029;
    }
  }
  .box-slide{
    transition: all .3s;
    height: 400px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s;
    }
    .slide-info{
      position: absolute;
      bottom: -37%;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: #0ead92b4;
      transition: all .3s;
      h4{
        font-size: 20px;
      }
      .details{
        p{
          font-size: 18px;
        }
        .btn-book{
          background-color: #036f62d3;
          color: #fff;
          font-size: 14px;
          i{
            transition: all .3s;
          }
          &:hover{
            background-color: #036f62;
            i{
              transform: translateX(2px) translateY(-2px);
            }
          }
        }
      }
    }
    &:hover{
      .slide-info{
        bottom: 0;
      }
      img{
        filter: blur(5px);
      }
    }
  }
}

@media (max-width:567px) {
 h2{
    font-size: 30px !important;
    &::after{
      display: none;
    }
    &::before{
      display: none;
    }
  }
}
