<section id="contracting" class="contracting py-5">
  <div class="container">
    <div class="row g-4">
       <div class="col-xl-8">
        <div class="contracting-info text-white p-5 pt-3 rounded-5 d-flex flex-column gap-2">
          <h4>المقاولات</h4>
          <p>عادل الشتوية في حتى قام عضون كانتا مع بلا عن الحدود الشتوية واعتلاء أسيا الدمج والنفيس هو وقد العالم المشترك دار أي كلا تسبب للسيطرة على الاتحاد 30 يتم بالثقيل أوراقهم عن</p>
          <ul class="list-unstyled p-0">
            <li><i class="fa-solid fa-envelope"></i> طلب خدمة</li>
            <li><i class="fa-brands fa-whatsapp"></i> اتصل واتس</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="contractiong-image h-100 d-flex justify-content-center align-items-center">
          <img src="assets/image/contracting/excavator.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
