.contracting{
  .contracting-info{
    background-color: #00495f;
    .icon-title{
      width: 30px;
    }
    h4{
      font-size: 30px;
      font-weight: bold;
    }
    p{
      font-size: 14px;
      width: 80%;
      text-align: justify;
    }
  }
  .contractiong-image{
    swiper-container {
      position: relative;
      left: 100px;
      top: -15px;
      width: 520px;
      height: 90%;
      box-shadow: -10px 10px 5px #00495f6b;
      border-radius: 20px;
    }

    swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
  }
}
@media (max-width:1200px) {
  .contracting-info{
    p{
      width: 100% !important;
    }
  }
  .contractiong-image{
    swiper-container {
      left: 0 !important;
    }
  }
}

@media (max-width:567px) {
  .contracting-info{
    padding: 15px !important;
    p{
      font-size: 16px !important;
    }
  }
  .contractiong-image{
    img{
      width: 380px !important;
    }
  }
}

