<section id="contracting" class="contracting pt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-8 wow fadeIn">
        <div class="contracting-info text-white p-4 pt-3 rounded-5 d-flex flex-column gap-2">
          <h4 class="mb-0 wow fadeInDown">المقاولات</h4>
          <h5 class="wow fadeInDown">من الفكرة إلى تسليم المفتاح… كل خدمات المقاولات بين يديك.</h5>
          @for (contracing of allContracting; track $index) {
            <p class="wow fadeInUp">{{contracing?.description}}</p>
          }
          <ul class="list-unstyled p-0 d-flex align-items-center gap-3">
            <li>
              <a [href]="'https://wa.me/' + allContact?.whatsApp">
                <i class="fa-brands fa-whatsapp"></i> أطلب الخدمة
              </a>
            </li>
          </ul>
        </div>


      </div>
      <div class="col-xl-4">
        <div class="contractiong-image h-100 d-flex justify-content-center align-items-center wow fadeIn">
          <swiper-container class="mySwiper" loop="true" autoplay-delay="2500" autoplay-disable-on-interaction="false" autoplay-pause-on-mouse-enter="true">
            <swiper-slide><img loading="lazy" class="wow fadeInLeft" src="assets/image/contracting/excavator.png" alt="contracting"></swiper-slide>
            <swiper-slide><img loading="lazy" class="wow fadeInLeft" src="../../../assets/image/residential-house-process-building__1_-removebg-preview.png" class="" alt="contracting"></swiper-slide>
            <swiper-slide><img loading="lazy" class="wow fadeInLeft" src="../../../assets/image/illustration-construction-site-removebg-preview.png" alt="contracting"></swiper-slide>
            <swiper-slide><img loading="lazy" class="wow fadeInLeft" src="../../../assets/image/construction-works-frankfurt-downtown-germany-removebg-preview.png" alt="contracting"></swiper-slide>
          </swiper-container>
          <!-- <img loading="lazy" class="wow fadeInLeft" src="assets/image/contracting/excavator.png" alt="contracting"> -->
        </div>
      </div>
    </div>
  </div>
</section>
