.parteners{
  background: linear-gradient(to top, #fff, #00334379 , #fff);
  .partener-info{
    height: 550px;
    img{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .partener-details{
      position: relative;
      top: 120px;
    }
    h2{
      font-size: 60px;
      font-weight: bold;
    }
    p{
      font-weight: bold;
      font-size: 20px;
      width: 60%;
    }
    .liner-bg{
      height: 300px;
      position: relative;
      top: -45px;
    }
  }
}

swiper-container {
  height: 100%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  .slide-img{
    width: 200px !important;
    height: 200px !important;
    filter: grayscale(100%);
    border: 2px solid red;
    img {
      display: block;
      object-fit: cover;
    }
  }

}

@media (max-width:991px) {
  .partener-info{
    height: 400px !important;
  }
  .image-bg-border{
    display: none;
  }
  .partener-details{
    top: 0 !important;
  }
  h2{
    font-size: 40px !important;
  }
  p{
    width: 100% !important;
    font-size: 18px !important;
  }
}

@media (max-width:768px) {
  .partener-info{
    height:430px !important;
  }
}
