<section id="parteners" class="parteners overflow-hidden">
  <div class="container">
    <div class="partener-info position-relative">
      <img src="assets/image/partener/parteners3.png" class="w-100 position-absolute image-bg-border" alt="partener">
      <h2 class="text-center wow bounceInRight">شركاء النجاح</h2>
      <div class="partener-details">
        <p class="mx-auto text-center mt-3 wow bounceInDown">عادل الشتوية في حتى قام عضون كانتا مع بلا عن الحدود الشتوية واعتلاء أسيا الدمج والنفيس هو وقد العالم المشترك دار أي كلا تسبب للسيطرة على الاتحاد 30 يتم بالثقيل أوراقهم عن</p>
        <div class="liner-bg">
          <swiper-container class="mySwiper h-100"[slides-per-view]="swiperConfig.slidesPerView"
            [space-between]="swiperConfig.spaceBetween"
            [breakpoints]="swiperConfig.breakpoints"
            [loop]="swiperConfig.loop" autoplay-delay="2500" autoplay-disable-on-interaction="false"
            centered-slides="true">
            <swiper-slide>
              <div class="slide-img wow bounceInUp rounded-circle">
                <img src="assets/image/partener/partener-1.jpg" class="rounded-circle w-100 h-100" alt="partener">
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="slide-img wow bounceInUp rounded-circle">
                <img src="assets/image/partener/partener-2.jpg" class="rounded-circle w-100 h-100" alt="partener">
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="slide-img wow bounceInUp rounded-circle">
                <img src="assets/image/partener/partener-3.jpg" class="rounded-circle w-100 h-100" alt="partener">
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="slide-img wow bounceInUp rounded-circle">
                <img src="assets/image/partener/partener-1.jpg" class="rounded-circle w-100 h-100" alt="partener">
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="slide-img wow bounceInUp rounded-circle">
                <img src="assets/image/partener/partener-3.jpg" class="rounded-circle w-100 h-100" alt="partener">
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </div>
  </div>
</section>
