<section id="parteners" class="parteners overflow-hidden">
  <div class="container">
    <div class="partener-info position-relative">
      <img src="assets/image/partener/parteners3.png" class="w-100 position-absolute" alt="">
      <h2 class="text-center">شركاء النجاح</h2>
      <div class="partener-details">
        <p class="mx-auto text-center mt-3">عادل الشتوية في حتى قام عضون كانتا مع بلا عن الحدود الشتوية واعتلاء أسيا الدمج والنفيس هو وقد العالم المشترك دار أي كلا تسبب للسيطرة على الاتحاد 30 يتم بالثقيل أوراقهم عن</p>
        <div class="liner-bg">
            <swiper-container class="mySwiper h-100" pagination="true" pagination-clickable="true" space-between="10"
              slides-per-view="3">
              <swiper-slide>
                <div class="slide-img rounded-circle">
                  <img src="assets/image/partener/partener-1.jpg" class="rounded-circle w-100 h-100" alt="">
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="slide-img rounded-circle">
                  <img src="assets/image/partener/partener-2.jpg" class="rounded-circle w-100 h-100" alt="">
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="slide-img rounded-circle">
                  <img src="assets/image/partener/partener-3.jpg" class="rounded-circle w-100 h-100" alt="">
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="slide-img rounded-circle">
                  <img src="assets/image/partener/partener-1.jpg" class="rounded-circle w-100 h-100" alt="">
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="slide-img rounded-circle">
                  <img src="assets/image/partener/partener-3.jpg" class="rounded-circle w-100 h-100" alt="">
                </div>
              </swiper-slide>
            </swiper-container>
        </div>
      </div>
    </div>
  </div>
</section>
