<section class="prodcut-details">
  <div class="main-image">
    <img loading="lazy" [src]="investmentData.images[0].image" class="w-100 object-fit-cover" [alt]="investmentData.description">
    <div class="overlay-content">
      <h2 [innerHTML]="investmentData.title"></h2>
    </div>
  </div>

  <div class="container my-4">
    <div class="row g-3">
      <!-- <p [innerHTML]="investmentData.description"> </p> -->
      <h1>الصور الخاصة بالمشروع</h1>
      @for (item of investmentData.images; track $index) {
        <div class="col-md-3">
          <div class="card border-0 shadow h-100">
            <img loading="lazy" [src]="item.image" class="w-100 h-100 object-fit-cover" [alt]="investmentData.description">
          </div>
        </div>
      }
    </div>
  </div>
</section>
