
.who-we-are{
  .right{
    color: #fff;
    background: #00495f;
    padding: 20px 100px 20px 0;
    .who{
      p{
        text-align: justify;
      }
    }
    .contact{
      .mobile-image{
        width: 40px;
        transform: rotate(20deg);
      }
      .icons{
        a{
          width: 20px;
          height: 20px;
          background-color: #00273474;
          transition: all .3s;
          i{
            color: #fff;
            transition: all .3s;
            font-size: 20px;
          }
          &:hover{
            background-color: #004056be;
            i{
              color: #fff;
            }
          }
        }
      }
    }
  }

}

@media (max-width:991px) {
  .right{
    padding: 25px !important;
  }
}
.phone{
  direction: ltr;
}
