<section id="who-we-are" class="who-we-are my-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 right">
        <div class="row g-3">
          <div class="col-md-6">
            <div class="who">
               <h4>من نكون</h4>
                <p class="ps-3">
                  ما وجهان كانتا العدّ دول, مكن عرفها إنطلاق الفرنسي أن. هاربر إحتار البشريةً عل فصل, عل 0804 بالرغم ضرب, ان إحتار الأوروبية، حدى. إيو أن بقسوة فشكّل, إحكام سبتمبر وبلجيكا، كلا و. مع بلا والتي الثالث, بداية استمرار فصل أي. حادثة وانهاء الجنرال على 30, سكان وقامت للإتحاد.
                </p>
            </div>
          </div>

           <div class="col-md-6">
            <div class="contact">
              <h4>تواصل معنا</h4>
              <ul class="list-unstyled p-0 d-flex flex-column gap-3 mt-3">
                <li>
                  <div class="d-flex align-items-center gap-1">
                    <img src="assets/image/navbar/mobile.png" class="mobile-image" alt="sumou-mobile">
                    <div class="d-flex align-items-center flex-column">
                      <a href="#">050007031</a>
                      <a href="#">050007031</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex gap-1">
                    <i class="fa-solid fa-location-dot fs-4 mt-1"></i>
                    <span>خلاف وكسبت لم به،. ليرتفع الصفحات بعض عن. تم هناك المؤلّفة لمّ.</span>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center gap-2 icons">
                    <a class="rounded-circle p-4 d-flex justify-content-center align-items-center" href=""><i class="fa-brands fa-instagram fs-3"></i></a>
                    <a class="rounded-circle p-4 d-flex justify-content-center align-items-center" href=""><i class="fa-brands fa-twitter fs-3"></i></a>
                    <a class="rounded-circle p-4 d-flex justify-content-center align-items-center" href=""><i class="fa-brands fa-facebook-f fs-3"></i></a>
                    <a class="rounded-circle p-4 d-flex justify-content-center align-items-center" href=""><i class="fa-brands fa-linkedin fs-3"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 left px-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927758.0377266759!2d46.16296366602666!3d24.72499765722435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1748944057474!5m2!1sen!2seg" class="w-100 h-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
