
.who-we-are{
  background-color: #003343;
  color: #fff;
  .right{
    padding: 20px 100px 20px 0;
    .contact{
      .mobile-image{
        width: 40px;
        transform: rotate(20deg);
      }
      .icons{
        a{
          width: 20px;
          height: 20px;
          background-color: #000;
          transition: all .3s;
          i{
            color: #a0a0a0a8;
            transition: all .3s;
            font-size: 20px;
          }
          &:hover{
            background-color: #005872;
            i{
              color: #fff;
            }
          }
        }
      }
    }
  }

}

@media (max-width:991px) {
  .right{
    padding: 25px !important;
  }
}
