<section id="whoWeAre" class="who-we-are">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 right">
        <div class="row g-3">
          <div class="col-md-7">
            <div class="who">
              <h4 class="wow fadeInDown">من نكون</h4>
              @for (about of allAboutUs; track $index) {
                <p class="ps-3 mt-3 wow fadeInRight mb-0">{{about.description}}</p>
              }
            </div>
          </div>

           <div class="col-md-5">
            <div class="contact">
              <h4 class="wow fadeInDown">تواصل معنا</h4>
              <ul class="list-unstyled p-0 d-flex flex-column gap-3 mt-3 contact-list overflow-hidden">
                <li>
                  <div class="d-flex align-items-center gap-1 wow fadeInRight">
                    <img loading="lazy" src="assets/image/navbar/mobile.png" class="mobile-image" alt="سمو المملكة">
                    <div class="d-flex align-items-center flex-column">
                      <a [href]="'https://wa.me/' + allContacts?.phone1">{{allContacts?.phone1}}</a>
                      <a [href]="'https://wa.me/' + allContacts?.phone2">{{allContacts?.phone2}}</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center gap-1 wow fadeInRight">
                    <i class="fa-solid fa-location-dot fs-4 mt-1"></i>
                    <a>{{allContacts?.address}}</a>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center gap-2 icons">
                    <a class="rounded-circle p-4 d-flex justify-content-center align-items-center wow bounceInUp" data-wow-delay="0s" [href]="allContacts?.instagramUrl" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a class="rounded-circle p-4 d-flex justify-content-center align-items-center wow bounceInUp" data-wow-delay="0.2s" [href]="allContacts?.twitterUrl" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a class="rounded-circle p-4 d-flex justify-content-center align-items-center wow bounceInUp" data-wow-delay="0.4s" [href]="allContacts?.facebookUrl" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    <a class="rounded-circle p-4 d-flex justify-content-center align-items-center wow bounceInUp" data-wow-delay="0.6s" [href]="allContacts?.linkedInUrl" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 left px-0 wow bounceInUp">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927758.0377266759!2d46.16296366602666!3d24.72499765722435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1748944057474!5m2!1sen!2seg" class="w-100 h-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
