/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Lexend+Deca:wght@100..900&family=Lobster&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
// @font-face {
//   font-family: 'TheSans';
//   src: url('assets/fonts/TheSans-Bold.otf') format('opentype');
//   font-style: normal;
// }

*{
  direction: rtl;
  font-family: "TheSans", sans-serif;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: inherit;
}
.cr{
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #003343c2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #003343;
}
